<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://35.232.124.236:3306/bhavyanth?characterEncoding=latin1</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Tiger9959</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create </property>
      <!--   <mapping resource="user.hbm.xml" /> -->
      <!--   <mapping resource="payment.hbm.xml" /> -->
       <!--  <mapping resource="payment3.hbm.xml" /> -->
         <!-- <mapping resource="payments.hbm.xml" /> -->
          <!-- <mapping resource="product.hbm.xml" /> -->
          <!-- <mapping resource="customer.hbm.xml"></mapping>
		<mapping resource="vendor.hbm.xml"></mapping> -->
		 <!-- <mapping resource="student.hbm.xml"></mapping>
		<mapping resource="course.hbm.xml"></mapping> -->
	<!-- 	 <mapping resource="student1.hbm.xml"></mapping>
		<mapping resource="address.hbm.xml"></mapping> -->
		 <mapping class	="hibernate.entity.Employee" />
    </session-factory>
</hibernate-configuration>